body {
  font-family: 'Cormorant', serif;
}
h1,
h2,
h3 {
  display: inline-block;
  font-weight: 300;
  margin: 0 32px 0 0;
}
.links {
  display: inline-block;
}
.links ul {
  padding: 0;
}
.links li {
  display: inline;
  list-style: none;
}
.links a {
  color: #131313;
  text-decoration: none;
  font-size: 20px;
  margin: 0 8px;
}
a.active {
  border-bottom: 2px solid #131313;
}
.navbar {
  margin: 32px;
}

.gallery {
  padding: 0 20px 0 20px;
}
.card {
  width: 49.75%;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px;
}
.card img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.card img:hover {
  opacity: 0.9;
}
.card h2 {
  display: inline-block;
  margin: 8px 0 16px 0;
}

.about {
  width: 40%;
  min-width: 600px;
  margin: 100px 0 100px 200px;
}
.about h3 {
  font-size: 40px;
}
.about .cta {
  padding-bottom: 8px;
  border-bottom: 2px solid #131313;
  margin-top: 32px;
}
.contact {
  margin-top: 100px;
}
.contact p {
  margin: 0;
  font-size: 20px;
}
